doctype html
html
  head
    title WELCOME
    link(rel="stylesheet", href="/start.css")
  body
    .container
      img(src="/images/icon.jpg", alt="WELCOME")
      h1 WELCOME !
      a.button(href="/login") LET'S START !

